.mainbox {
  height: 100px;
  width: 1200px;
  border: 5px black solid;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
}
.box1 {
  height: 80px;
  width: 90px;
  background-color: yellow;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 30px;
}
.box2 {
  height: 80px;
  width: 700px;
  background-color: yellow; display: inline-block;
  position: relative;
  top: 10px;
  left: 240px;
}
.box3 {
  height: 80px;
  width: 100px;
  background-color: yellow;
  display: inline-block;
  position: absolute;
  right: 50px;
  bottom: 10px;
}
.box31 {
  height: 64px;
  width: 64px;
  border: 3px green solid;
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
}
.box21 {
  height: 70px;
  width: 200px;
  background-color: rgb(36, 36, 248);
  position: absolute;
  bottom: 0;
  left: 50px;
  display: inline-block;
}
.box211 {
  height: 60px;
  width: 60px;
  background-color: red;
  position: absolute;
  right: 0%;
}
.box22 {
  height: 60px;
  width: 200px;
  display: inline-block;
  background-color: rgb(36, 36, 248);
  position: absolute;
  bottom: 0;
  left: 290px;
}
.box23 {
  height: 60px;
  width: 100px;
  display: inline-block;
  background-color: rgb(36, 36, 248);
  position: absolute;
  right: 20px;
  bottom: 0;
}
